*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-container{
    width: 100%;
    height: 100vh;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 4rem;
    background-image: url("./images/normal.jpeg");
    background-size: cover;
    background-position: center top;
}

.heading{
    width: fit-content;
    height: auto;
}

.heading h1{
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
}

.weather-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: center; */
    row-gap: 2rem;
}

.form-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

form{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #787878;
    background-color: #fff;
    border-radius: 8rem;
    padding: 1rem 1rem 1rem 2rem;
}

input{
    width: fit-content;
    height: auto;
    border: none;
    outline: none;
    font-size: 1rem;
}

button{
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    color: #000;
    cursor: pointer;
    background-color: aqua;
}

.weather-view-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 6rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4rem;
    border-radius: 1rem;
}

.city-name-container{
    width: fit-content;
    height: auto; 
}

.city-name-container h1{
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
}

.weather-result-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    column-gap: 18rem;
}

.left-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.temperature-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: start;
    padding: 0 2rem;
}

.temperature-container p{
    font-size: 2rem;
    font-weight: 400;
    color: #ededed;
}

.temperature-container h5{
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}

.right-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    row-gap: 1rem;
}

.condition{
    width: fit-content;
    height: auto;
}

.condition h3{
    font-size: 2rem;
    color: #fff;
}

.humidity-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    column-gap: 0.2rem;
}

.humidity-container p{
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
}

.humidity-container h5{
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}